/*Quelle: Patrick Brunner*/

section {
    width: 100vw;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-left);
}  

#cv {
    padding-top: 1em;
    position: relative;
    align-items: center;
    margin-bottom: 10vh;
}

.timeline {
    margin-top: 2em;
    gap: 2em;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    margin-bottom: 2em;
    border-left: 4px solid var(--color-main);;
    position: relative;
}

.timeline:before {
    position: absolute;
    top: -1.3em;
    left: -1.5em;
    color: var(--color-main);;
    content: 'Heute';
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}

.timeline:after {
    position: absolute;
    bottom: -1.3em;
    left: -1.4em;
    content: '2014';
    color: var(--color-main);;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}

.timeline-entry {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1.2em;
    /*border: 3px solid var(--color-accent);;*/
}

.timeline-entry::after {
    content: '';
    position: absolute;
    left: -1.9em;
    top: 50%;
    width: 0px;
    height: 0px;
    -webkit-transform: rotate(45deg);
    border-style: solid;
    border-width: 0 2.5vw 4.3vw 2.5vw;
    background: var(--color-main);
    border-color: transparent transparent var(--color-main) transparent;





}


.tl-title {
    font-size: 17px;
    font-weight: bold;
}

.location-dates {
    display: flex;
    font-style: italic;
    font-size: 14px;
    border-bottom: 1px solid var(--color-main);;
    margin-bottom: 6px;
    padding-bottom: 2px;
}

.spacer {
    margin: 0 3px;
    width: 1px;
    background: var(--color-main);;
}

.tl-location {
}

.tl-dates {

}

.tl-description {
    font-size: 15px;
}

.tl-description ul {
    margin: 3px 0 0 0;
    padding: 0 0 0 2em;
    font-size: 0.9em;
}


@media (min-width: 768px) {
    #cv {
        justify-content: flex-start;
    }

    .timeline {
        width: 36em;
        flex: 1 1 auto;
        height: 150vh;
        gap: 0;
        justify-content: space-around;
        background: linear-gradient( rgb(247, 222, 183),  rgb(247, 222, 183)) no-repeat center / 4px 100%;
        border: none;
    }


    .timeline::before {
        left: calc(50% - 2.5ch)
    }

    .timeline::after {
        left: calc(50% - 2ch)
    }

    .timeline-entry {
        width: 16em;
        left: 0;
        flex: 0 1 auto;
    }

    .timeline-entry.right {
        align-self: flex-end;
    }

    .timeline-entry.left {
        align-self: flex-start;
    }

    .timeline-entry::after {
        border: 8px solid var(--color-main);
    }

    .timeline-entry.right::after {
        left: unset;
        right: calc(100% + 2em - 8.5px);
    }

    .timeline-entry.left::after {
        left: calc(100% + 2em - 7.5px);
  
    }
}