

#oben {
        z-index: -10;
        height: 40vh;
        background-image: url("Parallax-dreieck.png");
        position: relative;
  
       

}

#TITEL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  position: relative;
}



#portrait {
  height: 25em;
}



/*source: https://codepen.io/alvarotrigo/pen/xxLvyOG */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 700px;
  float: right;
}

.waviy {
  position: relative;
  font-size: 4vw;
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@media (max-width: 500px) {

  #portrait{
    height: 30vh;
  }

  #title {
  height: 10vh;
  }

  .waviy {
    position: relative;
    font-size: 8vw;
  }
}
