.Kontaktformular {
    display: flex;
    justify-content: center;
}


Kontaktformular h1 {
    text-align: center;

}
#myForm {
    justify-content: center;
    text-align: center;
}


.Formularfeld {
    width: fit-content;
}

.Bezeichnung {
    font-size: larger;
    text-align: center;
}

input {
    height: 3vh;
    width: 30vw;
    border: solid;
    border-color: var(--color-main);
    margin-top: 1vh;
    margin-bottom: 1vh;

}
textarea {
    border: solid;
    border-color: var(--color-main);
    width: 30vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Senden {
    color: black;
    background-color: var(--color-main);
    border-radius: 12px;
    height: 5vh;
    width: 30vw;
    margin-top: 3vh;
}

.Senden:hover {
    background-color: white;
    cursor: pointer;
}