body {

background-color: black;
font-family: 'Nunito Sans', sans-serif;
color: rgb(247, 222, 183);
}


#header {
    height: 800px;
}

#oben {
        height: 500px;
        background-image: url("AdobeStock_dreieck-gold-3.png");
        background-size: contain;
        position: relative;

}



#abstand {
    height: 200px;

}

#parent
{
  position: relative;
}

#quadrat {
    position: absolute;
    margin-top: 300px;
}


#portrait {
    display: block;
    margin-left: 10%;
  /*  margin-right: auto;*/
}

#AM {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/*source: https://codepen.io/alvarotrigo/pen/xxLvyOG */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 50%;
  float: right;
}

.waviy {
  position: relative;
  /*-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));   --> unterer Schatten*/
  font-size: 60px;
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#dreieck {
    float: left;
    width: 50px;
   /*  border: solid white; */
    margin-right: 10px;
    margin-left: 25%;
}

#aufz {
    font-size: large;
    float: left;
    /* border: solid white; */
    height: 50px;
    width: 100px;
    display: flex;
	align-items: center;
	justify-content: center;

}
#abstand {
    height: 75px;
}
